.background {
      background-color: red;
      position: relative;
      height: 100vw;
      width: 100vh;
      animation: float 6s ease-in-out infinite;
}



@keyframes float {
      0% {
            top: 0;
      }

      50% {
            top: 2%;
      }

      100% {
            top: 0%;
      }
}