@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
      font-family: "Mabry Pro Bold";
      src: url("../assets/fonts/MabryPro-Bold.ttf");
}

@font-face {
      font-family: "Archivo";
      src: url("../assets/fonts/Archivo-VariableFont.ttf");
}

@font-face {
      font-family: "BDO Grotesk";
      src: url("../assets/fonts/BDOGrotesk-VF.ttf");
}

@font-face {
      font-family: "Clash";
      src: url("../assets/fonts/ClashDisplay-Variable.ttf");
}

@font-face {
      font-family: "Anti Design";
      src: url("../assets/fonts/BlackMangoVariableGX.ttf");
}



:root {
      --yellow-color: #FFF460;
      --pink-color: #FFB4CE;
      --blue-color: #035DFF;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* general button styling */

body {
      font-family: "BDO Grotesk";
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      width: 100vw;
      align-items: center;
      background-color: var(--pink-color);
}

button {
      padding: 0.5rem 2rem;
      transition: margin-top 0.2s ease-in-out, margin-left 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
      border: 1px solid black;
}

.main-sections {
      display: flex;
      flex-direction: column;
      align-items: space-evenly;
      width: 100vw;
}



button:hover {
      margin-left: -4px;
      margin-top: -4px;
      box-shadow: 4px 4px 1px black;
}

button:active {
      margin-left: 0;
      margin-top: 0;
      box-shadow: none;
}


h1 {
      font-family: "Clash";
      font-weight: 600;
      font-size: 3rem;
      color: var(--blue-color);
      text-align: left;
}

h2 {
      font-family: "Archivo";
      font-weight: 800;
      font-size: 3rem;
      color: var(--blue-color);

}

h3 {
      font-family: "Clash";
      font-weight: 700;
      font-size: 1.3rem;
      color: black;

}


.rainbow {
      scale: 0.9;
}

header {
      font-family: "Clash";
      font-weight: 600;
}