@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
      font-family: "Mabry Pro Bold";
      src: url("../assets/fonts/MabryPro-Bold.ttf");
}

@font-face {
      font-family: "Archivo";
      src: url("../assets/fonts/Archivo-VariableFont.ttf");
}

@font-face {
      font-family: "BDO Grotesk";
      src: url("../assets/fonts/BDOGrotesk-VF.ttf");
}

@font-face {
      font-family: "Clash";
      src: url("../assets/fonts/ClashDisplay-Variable.ttf");
}

@font-face {
      font-family: "Mabry Pro Bold";
      src: url("../assets/fonts/MabryPro-Bold.ttf");
}


:root {
      --yellow-color: #FFF460;
      --pink-color: #FFB4CE;
      --blue-color: #035DFF;
}

/* general button styling */

button {
      padding: 0.5rem 2rem;
      transition: margin-top 0.2s ease-in-out, margin-left 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      border: 1px solid black;
}

body {
      font-family: "BDO Grotesk"
}

button:hover {
      margin-left: -4px;
      margin-top: -4px;
      box-shadow: 4px 4px 1px black;
}

button:active {
      margin-left: 0;
      margin-top: 0;
      box-shadow: none;
}


h1 {
      font-family: "Clash";
      font-weight: 700;
      font-size: 6rem;
      color: var(--blue-color);
}




header {
      font-family: "Archivo";
      font-weight: 600;
}