.mainTitle {
      margin-left: 10vw;
      margin-top: calc(2rem + 4vw);
      z-index: 2;
}

.shape,
.sound {
      font-family: "Anti Design";
      text-shadow: 5px 5px 1px #fa79a6;
      font-size: 6rem;
      font-weight: 800;
}